@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #000000;
    background-image: url('https://pbs.twimg.com/media/FfXhBMUUcBI6uTD?format=jpg&name=large');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    color: white;
}

#Taikii{
    position: relative;
    width: 100%;
    height: 130vh;
    background-color: rgba(145, 114, 78, 0.747);
    /* overflow: hidden; */
}

#Taikii .logo{
    /* position: fixed; */
    top: 0;
    left: 0;
    padding: 8px 32px;
    width: 200px;
    float: left;
    cursor: pointer;
}

#Taikii ul{
    padding: 32px 64px;
}

#Taikii .t-nav{
    height: 80px;
    background-color: rgb(141, 106, 67);

}

#Taikii nav{
    /* position: fixed; */
    top: 0;
    right: 0;
    float: right;
}



#Taikii li{
    color: white;
    display: inline-block;
    font-weight: 700;
    margin: 0 16px;
    cursor: pointer;
}

#Taikii li:hover{
    color: rgb(255, 228, 197);
}

.clearfix{
    clear: both;
}

#Taikii .title{
    /* color: black; */
    font-size: 5em;
    padding: 0 8%;
    text-transform: uppercase;
}

#Taikii .title span{
    padding: 1%;
    color: white;
}

#btn{
    padding: 10px 30px; 
    transition: all 0.25s ease; 
    border: 0px; 
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    background-color: white; 
    border-radius: 50px;
    cursor: pointer;
}

/* .parent{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: aquamarine;
}

.child{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: deeppink;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
} */

#title{
    color: white;
}

.song {
    padding: 0 8%;
    text-transform: uppercase;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: row;
}

.flex-item1{
    background: rgb(161, 115, 62);
    width: 100px;
    height: 100px;
}

.flex-item2{
    background: rgb(192, 142, 86);
    width: 100px;
    height: 100px;
}

.flex-item3{
    background: rgb(209, 165, 114);
    width: 100px;
    height: 100px;
}

.flex-item4{
    background: rgb(238, 203, 164);
    width: 100px;
    height: 100px;
}

.flex-item5{
    background: rgb(255, 228, 197);
    width: 100px;
    height: 100px;
}

#Taikii .wallpaper{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    height: auto;
    z-index: -2;
    overflow: hidden;
}

#grid-container .item {
    background-color: rgba(145, 114, 78, 0.747);
}

#grid-container {
    width: 50%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px 50px;
    grid-template-areas: 
        "item1 item2 item3";
    gap: 50px;
}

/* .album{
    margin: 10% 35%;
    width: 30%;
    height: auto;
} */

.item1{
    grid-area: item1;
    margin: auto;
    /* width: 50%; */
    border: 5px solid rgb(141, 106, 67);
    padding: 16px;
}

.item2{
    grid-area: item2;
    margin: auto;
    /* width: 50%; */
    border: 5px solid rgb(141, 106, 67);
    padding: 16px;
}

.item3{
    grid-area: item3;
    margin: auto;
    /* width: 50%; */
    border: 5px solid rgb(141, 106, 67);
    padding: 16px;
}

.flex-para{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}

.box1{
    display: block;
    box-sizing: border-box;
    width: 90%;
    font-size: 20px;
}

.content{
    border-radius: 50px;
    color: black;
    background-color: rgb(0, 255, 55);
    /* border: 5px solid rgb(0, 0, 0); */
    padding: 16px;
    text-align: center;
}